<!DOCTYPE html>
<html lang="en">

<head>
  <title>dashboard</title>
</head>

<body>
  <%- include("partials/_headerpanel") %>
    <%- include("partials/_sidebarpanel") %>
      <main id="main" class="main">
        <div class="pagetitle">
          <h1>Dashboard</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Reportes</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div>

        <section class="section dashboard">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <a class="col-xxl-4 col-md-6" href="">
                  <div class="card info-card sales-card">
                    <div class="card-body">
                      <h5 class="card-title">Pedidos <span></span></h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%= num_proveedores %>
                          </h6>
                          <span class="text-success small pt-1 fw-bold"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>

                <a class="col-xxl-4 col-md-6" href="/productos">
                  <div class="card info-card revenue-card">
                    <div class="card-body">
                      <h5 class="card-title">Productos <span></span></h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-boxes"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%= num_productos %>
                          </h6>
                          <span class="text-success small pt-1 fw-bold"></span>

                        </div>
                      </div>
                    </div>
                  </div>
                </a>

                <a class="col-xxl-4 col-xl-12" href="/usuarios">
                  <div class="card info-card customers-card">
                    <div class="card-body">
                      <h5 class="card-title">Clientes <span></span></h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%= num_clientes %>
                          </h6>
                          <span class="text-danger small pt-1 fw-bold text-light"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <div class="col-12">
                  <div class="card">
                    <div class="form-floating">
                      <select class="form-select" name="" id="year">
                      </select>
                      <label for="floatingSelect">Año</label>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Registro de actividades <span class="anio">| 2023</span></h5>
                      <div id="reportsChart"></div>
                    </div>

                  </div>
                </div>
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Actividades pedidos <span class="anio">| 2023</span></h5>
                      <div id="reportsChart2"></div>
                    </div>

                  </div>
                </div>

                <div class="col-12">
                  <div class="card top-selling overflow-auto">

                    <div class="card-body pb-0">
                      <h5 class="card-title">Productos más pedidos <span class="anio">| 2023</span></h5>
                      <table class="table table-borderless" id="mas_pedidos">
                        <thead>
                          <tr>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Vendidos</th>
                            <th scope="col">Ganancias</th>
                          </tr>
                        </thead>
                        <tbody id="tbody2">
                        </tbody>
                      </table>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include("partials/_fotterpanel") %>
</body>
<script>
  (async () => {
    let year_satart = 2017;
    let year_end = (new Date).getFullYear(); // current year
    let year_selected = (new Date).getFullYear();
    $(".anio").each(function() {
      $(this).text(year_selected);
    });
    let option;
    for (let i = year_satart; i <= year_end; i++) {
      let selected = (i === year_selected ? ' selected' : '');
      option += await '<option value="' + i + '"' + selected + '>' + i + '</option>';
    }
    document.getElementById("year").innerHTML = option;
  })();
  async function actividades_registros(anio) {
    await fetch("/actividades_registros", {
      method: 'POST',
      body: JSON.stringify({ anio: anio ?? (new Date).getFullYear() }),
      headers: {
        'Content-Type': 'application/json'
      }
    }).then(response => response.json()).then(data => {
      const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
      const chart = new ApexCharts(document.querySelector("#reportsChart"), {
        series: [{
          name: 'Productos',
          data: data.productos
        }, {
          name: 'Clientes',
          data: data.usuarios
        }],
        chart: {
          height: 350,
          type: 'area',
          toolbar: {
            show: false
          },
        },
        markers: {
          size: 4
        },
        colors: ['#4154f1', '#2eca6a', '#ff771d'],
        fill: {
          type: "gradient",
          gradient: {
            shadeIntensity: 1,
            opacityFrom: 0.3,
            opacityTo: 0.4,
            stops: [0, 90, 100]
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth',
          width: 2
        },
        xaxis: {
          categories: meses,
        },
        tooltip: {
          x: {
            format: 'dd/MM/yy HH:mm'
          },
        }
      });
      chart.render();
      chart.update();
    }).catch(error => {
      console.error(error);
    });
  }
  async function actividades_pedidos(anio) {
    await fetch("/actividades_pedidos", {
      method: 'POST',
      body: JSON.stringify({ anio: anio ?? (new Date).getFullYear() }),
      headers: {
        'Content-Type': 'application/json'
      }
    }).then(response => response.json()).then(data => {
      const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
      const chart = new ApexCharts(document.querySelector("#reportsChart2"), {
        series: [{
          name: 'Pedidos',
          data: data.pedidos
        }],
        chart: {
          height: 350,
          type: 'area',
          toolbar: {
            show: false
          },
        },
        markers: {
          size: 4
        },
        colors: ['#4154f1', '#2eca6a', '#ff771d'],
        fill: {
          type: "gradient",
          gradient: {
            shadeIntensity: 1,
            opacityFrom: 0.3,
            opacityTo: 0.4,
            stops: [0, 90, 100]
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth',
          width: 2
        },
        xaxis: {
          categories: meses,
        },
        tooltip: {
          x: {
            format: 'dd/MM/yy HH:mm'
          },
        }
      });
      chart.render();
      chart.update();
    }).catch(error => {
      console.error(error);
    });
  }
  actividades_registros();
  actividades_pedidos();
  var selectedAnio = $("#anioSelect").val();
  var pedidos = $('#mas_pedidos').DataTable({
    ajax: {
      url: "/mas_pedidos",
      type: "POST",
      data: {
        anio: (new Date).getFullYear(),
      }
    },
    searching: false,
    bLengthChange: false,
    info: false,
    paging: false,
    columns: [
      { data: "img" },
      { data: "nombre", defaultContent: "-" },
      { data: "precio", defaultContent: "-" },
      { data: "vendidos", defaultContent: "-" },
      { data: "ganancias", defaultContent: "-" },
    ],
    columnDefs: [
      {
        targets: "_all",
        className: "text-center",
      },
      {
        targets: 0,
        render: function (data, type, row, meta) {
          return `<img src="${row.img}" style=" width: 100%;height: 80px;object-fit: contain;object-position: center;">`;
        }
      },
      {
        targets: 2,
        render: function (data, type, row, meta) {
          return "$ " + row.precio;
        }
      },
      {
        targets: 4,
        render: function (data, type, row, meta) {
          return "$ " + row.ganancias;
        }
      }
    ],
    "language": {
      "sEmptyTable": "No hay datos disponibles en la tabla",
      "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
      "sInfoEmpty": "Mostrando 0 a 0 de 0 entradas",
      "sInfoFiltered": "(Filtrado de _MAX_ entradas totales)",
      "sInfoPostFix": "",
      "sInfoThousands": ",",
      "sLengthMenu": "Mostrar _MENU_ entradas",
      "sLoadingRecords": "Cargando...",
      "sProcessing": "Procesando...",
      "sSearch": "Buscar:",
      "sZeroRecords": "No se encontraron resultados",
      "oPaginate": {
        "sFirst": "Primero",
        "sLast": "Último",
        "sNext": "Siguiente",
        "sPrevious": "Anterior"
      },
      "oAria": {
        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      },
      "buttons": {
        "copy": "Copiar",
        "colvis": "Visibilidad"
      }
    }
  });

  var yearSelect = document.getElementById('year');
  yearSelect.addEventListener('change', function () {
    var anio = yearSelect.value;
    actividades_registros(anio);
    actividades_pedidos(anio);
    pedidos.settings()[0].ajax.data.anio = anio;
    pedidos.ajax.reload();  
    $(".anio").each(function() {
      $(this).text(anio);
    });
  });


</script>

</html>