<!DOCTYPE html>
<html lang="en">
<style>
    .owl-2-style .owl-nav {
        display: none;
    }

    .owl-2-style .owl-dots {
        text-align: center;
        position: relative;
        bottom: -30px;
    }

    .owl-2-style .owl-dots .owl-dot {
        display: inline-block;
    }

    .owl-2-style .owl-dots .owl-dot span {
        display: inline-block;
        width: 15px;
        height: 3px;
        border-radius: 0px;
        background: #cccccc;
        -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        margin: 3px;
    }

    .owl-2-style .owl-dots .owl-dot.active span {
        background: #59ab6e;
    }

    .owl-2-style .owl-dots .owl-dot:active,
    .owl-2-style .owl-dots .owl-dot:focus {
        outline: none;
    }

    figure.zoom {
        background-position: 50% 50%;
        background-size: 0%;
        position: relative;
        overflow: hidden;
        cursor: move;
    }

    figure.zoom img:hover {
        opacity: 0;
    }

    figure.zoom:hover {
        background-size: cover;
    }

    figure.zoom img {
        transition: opacity 0.5s;
        display: block;
        width: 100%;
    }

    .slider {
        width: 100%;
        height: 500px;
        position: relative;
        margin: auto;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .slider::-webkit-scrollbar {
        display: none;
    }

    .slider .slide {
        display: flex;
        position: absolute;
        left: 0;
        transition: 0.3s left ease-in-out;
    }


    .slider .item:last-child {
        margin-right: 0;
    }

    .ctrl {
        text-align: center;
        margin-top: 5px;
    }

    .ctrl-btn {
        padding: 20px 20px;
        min-width: 50px;
        background: #fff;
        border: none;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        outline: none;

        position: absolute;
        top: 50%;
        margin-top: -27.5px;
    }

    .ctrl-btn.pro-prev {
        left: 0;
    }

    .ctrl-btn.pro-next {
        right: 0;
    }
</style>

<body>
    <%- include("partials/_headerindex") %>
        <section class="bg-light-subtle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mt-5">
                        <div class="card mb-3">
                            <figure class="zoom" onmousemove="zoom(event)"
                                style="background-image: url('<%= producto.img??`/img/no-image-icon.png` %>')">
                                <img class="card-img img-fluid" src="<%= producto.img??'/img/no-image-icon.png' %>"
                                    style=" width: 100%;height: 600px;object-fit: contain;object-position: center;">
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-7 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="h2">
                                    <%= producto.nombre %>
                                </h1>
                                <p class="h2 py-2">$<%= producto.precio %>
                                </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <p><strong>Disponibles:</strong> <span>
                                                <%= producto.cantidad %>
                                            </span></p>
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <p><strong>Categoria:</strong> <span
                                                class="badge btn-success rounded-pill text-bg-success">
                                                <%= producto.categoria %>
                                            </span></p>
                                    </li>
                                </ul>

                                <h6>Descripción:</h6>
                                <p>
                                    <%= producto.descripcion %>
                                </p>
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item">Medida:</li>
                                            <span class="badge btn-success rounded-pill text-bg-success">
                                                <%= producto.medida %>
                                            </span>
                                        </ul>
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                Cantidad:
                                                <input type="hidden" name="product-quanity" id="product-quanity"
                                                    value="1">
                                            </li>
                                            <li class="list-inline-item"><span
                                                    class="btn btn-sm btn-success text-bg-success"
                                                    id="btn-minus">-</span></li>
                                            <li class="list-inline-item"><span class="" id="var-value">1</span></li>
                                            <li class="list-inline-item"><span
                                                    class="btn btn-sm btn-success text-bg-success"
                                                    id="btn-plus">+</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <% if (credentials) { %>
                                            <button type="submit" class="btn btn-success btn-lg" name="submit"
                                                onclick="agregar_carrito('<%= producto.id_producto %>','<%= producto.precio %>', $('#product-quanity').val())"><i
                                                    class="bi bi-cart-fill"></i> Añadir al
                                                carrito</button>
                                            <% } else { %>
                                                <button type="submit" class="btn btn-success btn-lg" name="submit"
                                                    data-bs-toggle="modal" data-bs-target="#login"><i
                                                        class="bi bi-cart-fill"></i> Añadir al
                                                    carrito</button>
                                                <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="bg-left-half mb-5">
                <div class="container owl-2-style">
                    <h3 class="text-success py-5 ">Productos recomendados</h3>
                    <div class="owl-carousel owl-2">
                        <% if (recomendados.length> 0) { %>
                            <% recomendados.forEach(value=> { %>
                                <div class="card mb-4 product-wap rounded-3 shadow border-0">
                                    <div class="card rounded-3 border-0">
                                        <img class="card-img rounded-3 img-fluid border-0 b-lazy"
                                            src="<%= value.img? value.img : '/img/no-image-icon.png' %>" style=" width: 100%;
                                            height: 300px;
                                            object-fit: contain;
                                            object-position: center;" loading="lazy">
                                        <div
                                            class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                            <ul class="list-unstyled">
                                                <% if (credentials) { %>
                                                    <li><button class="btn btn-success text-white mt-2"
                                                            onclick="agregar_carrito('<%= value.id_producto %>','<%= value.precio %>', 1)"><i
                                                                class="bi bi-cart-fill"></></i></a></li>
                                                    <% } else { %>
                                                        <li><button class="btn btn-success text-white mt-2"
                                                                data-bs-toggle="modal" data-bs-target="#login"><i
                                                                    class="bi bi-cart-fill"></></i></a></li>
                                                        <% } %>
                                                            <li><a class="btn btn-success text-white mt-2"
                                                                    href="/detalleproducto?producto=<%= value.id_producto %>"><i
                                                                        class="bi bi-eye-fill"></a></i></a>
                                                            </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <a class="h3 text-decoration-none" id="nombre">
                                            <%= value.nombre %> <span class="badge" style="background-color: #59ab6e;">
                                                    <%= value.categoria %>
                                                </span>
                                        </a>
                                        <a class="h3 text-decoration-none d-flex text-center">
                                            <p class="m-1 ms-0">Medida:</p>
                                            <span class="badge m-1" style="background-color: #59ab6e;">
                                                <%= value.medida??"Ninguna" %>
                                            </span>
                                        </a>
                                        <p class="fw-bold mb-0">$<%= value.precio %>
                                        </p>
                                    </div>
                                </div>
                                <% }); %>
                                    <% }else{%>
                                        <div>No hay productos recomendados.</div>
                                        <% }; %>
                    </div>
                </div>
            </div>
        </section>
        <div style="height: 500px;"></div>
        <%- include("partials/_fotterindex") %>
</body>
<script>
    $(function () {
        $('.owl-2').owlCarousel({
            center: false,
            items: 1,
            loop: false,
            stagePadding: 0,
            margin: 20,
            smartSpeed: 1000,
            autoplay: false,
            nav: true,
            dots: true,
            pauseOnHover: false,
            responsive: {
                600: {
                    margin: 20,
                    nav: true,
                    items: 2
                },
                1000: {
                    margin: 20,
                    stagePadding: 0,
                    nav: true,
                    items: 3
                }
            },
        });
    });
    function zoom(e) {
        var zoomer = e.currentTarget;
        e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
        e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
        x = offsetX / zoomer.offsetWidth * 100
        y = offsetY / zoomer.offsetHeight * 100
        zoomer.style.backgroundPosition = x + '% ' + y + '%';
    }
</script>

</html>