<!DOCTYPE html>
<html lang="en">

<body>
    <%- include("partials/_headerindex") %>
        <section class="bg-light">
            <div class="container pb-5">
                <div class="row">
                    <div class="col-lg-5 mt-5">
                        <div class="card mb-3"><img class="card-img img-fluid" src="<%= producto.img %>"
                                style=" width: 100%;height: 600px;object-fit: contain;object-position: center;">
                        </div>
                    </div>

                    <div class="col-lg-7 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="h2">
                                    <%= producto.nombre %>
                                </h1>
                                <p class="h3 py-2">$<%= producto.precio %>
                                </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <p><strong>Categoria:</strong> <span
                                                class="badge btn-success rounded-pill text-bg-success">
                                                <%= producto.categoria %>
                                            </span></p>
                                    </li>
                                </ul>

                                <h6>Descripción:</h6>
                                <p>
                                    <%= producto.descripcion %>
                                </p>

                                <form action="" method="GET">
                                    <input type="hidden" name="product-title" value="Activewear">
                                    <div class="row">
                                        <div class="col-auto">
                                            <ul class="list-inline pb-3">
                                                <li class="list-inline-item">Medida:</li>
                                                <span class="badge btn-success rounded-pill text-bg-success">
                                                    <%= producto.medida %>
                                                </span>
                                            </ul>
                                        </div>
                                        <div class="col-auto">
                                            <ul class="list-inline pb-3">
                                                <li class="list-inline-item text-right">
                                                    Cantidad
                                                    <input type="hidden" name="product-quanity" id="product-quanity"
                                                        value="1">
                                                </li>
                                                <li class="list-inline-item"><span class="btn btn-sm"
                                                        id="btn-minus">-</span></li>
                                                <li class="list-inline-item"><span class="badge bg-secondary"
                                                        id="var-value">1</span></li>
                                                <li class="list-inline-item"><span class="btn btn-sm"
                                                        id="btn-plus">+</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row pb-3">
                                        <div class="col d-grid">
                                            <button type="submit" class="btn btn-success btn-lg" name="submit"
                                                value="buy"><i class="bi bi-bag-fill"></i> Realizar pedido</button>
                                        </div>
                                        <div class="col d-grid">
                                            <button type="submit" class="btn btn-success btn-lg" name="submit"
                                                value="addtocard"><i class="bi bi-cart-fill"></i> Añadir al
                                                carrito</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container">
                <div class="row text-left p-2 pb-3">
                    <h4>Productos recomendados</h4>
                </div>

                <div class="row">
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-dark fas fa-chevron-left"></i>
                            <span class="sr-only">Anterior</span>
                        </a>
                    </div>
                    <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
                        data-bs-ride="carousel">
                        <div class="carousel-inner product-links-wap" role="listbox">
                            <% if (recomendados) { %>
                                <% for (let i = 0; i < recomendados.length; i += 3) { %>
                                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                        <div class="row">
                                            <% for (let j = i; j < Math.min(i + 3, recomendados.length); j++) { %>
                                                <div class="col-4">
                                                    <div class="card mb-4 product-wap rounded-3 shadow border-0">
                                                        <div class="card rounded-3 border-0">
                                                            <img class="card-img rounded-3 img-fluid border-0"
                                                            src="<%= recomendados[j].img? recomendados[j].img : '/img/no-image-icon.png' %>" style=" width: 100%;
                                                            height: 300px;
                                                            object-fit: contain;
                                                            object-position: center;">
                                                            <div
                                                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                                                <ul class="list-unstyled">
                                                                    <li><a class="btn btn-success text-white" href=""><i
                                                                                class="bi bi-cart-plus-fill"></i></a></li>
                                                                    <li><a class="btn btn-success text-white mt-2"
                                                                            href="/detalleproducto?producto=<%= recomendados[j].id_producto %>"><i
                                                                                class="bi bi-eye-fill"></a></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <a class="h3 text-decoration-none" id="nombre">
                                                                <%= recomendados[j].nombre %> <span class="badge"
                                                                        style="background-color: #59ab6e;">
                                                                        <%= recomendados[j].categoria %>
                                                                    </span>
                                                            </a>
                                                            <a class="h3 text-decoration-none d-flex text-center">
                                                                <p class="m-1 ms-0">Medida:</p>
                                                                <span class="badge m-1"
                                                                    style="background-color: #59ab6e;">
                                                                    <%= recomendados[j].medida??"Ninguna" %>
                                                                </span>
                                                            </a>
                                                            <p class="fw-bold mb-0">$<%= recomendados[j].precio %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-dark fas fa-chevron-right"></i>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <%- include("partials/_fotterindex") %>
</body>

</html>