<!DOCTYPE html>
<html lang="en">

<head>
    <title>Escanear RFID</title>
</head>

<body>
    <%- include("partials/_headerpanel") %>
        <%- include("partials/_sidebarpanel") %>
            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>Escanear RFID</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
                            <li class="breadcrumb-item active">Escanear RFID</li>
                        </ol>
                    </nav>
                </div>

                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="container-fluid mt-2">
                                <div id="connected" class="row g-0" style="display: none;">
                                    <div class="col">
                                        <div class="card-body">
                                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                                                <div class="col-lg-6">
                                                    <div class="card text-center mb-3 shadow-lg">
                                                        <div class="card-body">
                                                            <svg class="icon m-3" width="100" height="100"
                                                                fill="#1f6f40">
                                                                <use xlink:href="/icons/bootstrap-icons.svg#upc-scan" />
                                                            </svg>
                                                            <h5 class="card-title text-uppercase">Escanear
                                                                producto</h5>
                                                            <p class="card-text">Al escanear el producto,
                                                                podremos recopilar la
                                                                información necesaria y brindarte una
                                                                experiencia personalizada.</p>
                                                            <button onclick="escanearProducto()" id="escanear"
                                                                class="btn btn-primary text-uppercase">Empezar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="card text-center mb-3 shadow-lg">
                                                        <div class="card-body">
                                                            <svg class="icon m-3" width="100" height="100"
                                                                fill="#1f6f40">
                                                                <use xlink:href="/icons/bootstrap-icons.svg#box-seam" />
                                                            </svg>
                                                            <h5 class="card-title text-uppercase">Asignar tag
                                                            </h5>
                                                            <p class="card-text">Al escanear el producto, te
                                                                ofrecemos la posibilidad de
                                                                editar la información del TAG del producto. Esto
                                                                te permitirá asignar un
                                                                producto según sea necesario.</p>
                                                            <p class="card-title text-uppercase">Seleccione un producto:
                                                            </p>
                                                            <select class="js-example-basic-single form-select"
                                                                id="productos" style="z-index: 1000;">
                                                                <% if (productos) { %>
                                                                    <% productos.forEach(row=> { %>
                                                                        <option class="text-start"
                                                                            data-producto="<%= row.nombre %>"
                                                                            value="<%= row.tag %>" }>
                                                                            Codigo:
                                                                            <%= row.codigo %>
                                                                                | Nombre: <%= row.nombre %>
                                                                        </option>
                                                                        <% })}; %>
                                                            </select>
                                                            <br>
                                                            <button class="btn btn-primary text-uppercase"
                                                                onclick="asignarProducto()">Empezar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="disconnected">
                                    <div class="card-header text-danger text-uppercase text-center">
                                        <h1>Desconectado</h1>
                                    </div>
                                    <div class="card-body">
                                        <div class="card text-center container-fluid">

                                            <img src="img/usb.gif" style="width: 35%;height: 30%;"
                                                class="align-self-center" alt="...">
                                            <div class="container-fluid">
                                                <h2 class="card-title text-uppercase">Para continuar con el proceso de
                                                    escaneo de
                                                    productos, conecte un sensor a tu PC.</h2>
                                                <button onClick="requestSerialPermission()"
                                                    class="btn btn-primary m-3"><i class="bi bi-usb-symbol"></i>
                                                    Conectar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </main>

            <div class="modal fade" id="escanearProducto" aria-hidden="true" aria-labelledby="escanearProductoLabel"
                tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title fs-5 text-success h2" id="escanearProductoLabel">¡ESCANEA EL
                                PRODUCTO PARA
                                OBTENER
                                MÁS DETALLES!</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="default">
                                <img src="img/rfid.gif" alt="" class="mx-auto d-block" width="300">
                            </div>
                            <div id="detalles">
                                <form id="kardexForm">
                                    <div class="card mb-3">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <img src="" class="img-fluid rounded-start" id="img"
                                                    style=" width: 100%; height: 300px; object-fit: contain; object-position: center;">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body col-12">
                                                    <div class="row">
                                                        <div class="col-3 card-title">Nombre:</div>
                                                        <div class="col-9 align-self-center">
                                                            <input class="form-control" id="nombres" type="text"
                                                                readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3 card-title">Categoría:</div>
                                                        <div class="col-9 card-text align-self-center">
                                                            <input class="form-control" id="categorias" type="text"
                                                                readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3 card-title">Cantidad:</div>
                                                        <div class="col-9 card-text align-self-center">
                                                            <input class="form-control" id="cantidades" type="number"
                                                                readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3 card-title">Precio:</div>
                                                        <div class="col-9 card-text align-self-center">
                                                            <input class="form-control" id="precios" type="number"
                                                                readonly required>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <select class="form-select mb-3" id="tipo_movimiento" required>
                                                    <option selected disabled value="">Movimientos</option>
                                                    <option value="1">Entrada</option>
                                                    <option value="2">Salida</option>
                                                </select>
                                                <label for="floatingSelect">Tipo de movimiento</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="detalle" name="detalle"
                                                    placeholder="insertar" value="" required>
                                                <label for="detalle">Detalle</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control" id="cantidad" name="cantidad"
                                                    placeholder="insertar" oninput="calculartotal()" required>
                                                <label for="cantidad">Cantidad</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control" id="precio" name="precio"
                                                    placeholder="insertar" step="any" readonly>
                                                <label for="inputprecio">Precio</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control" id="total" name="total"
                                                    placeholder="insertar" readonly>
                                                <label for="total">Total</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                        <button class="btn btn-primary" type="submit">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("partials/_fotterpanel") %>
</body>
<script>
    let producto;
    $(document).ready(function () {
        document.getElementById("default").style.display = "block";
        document.getElementById("detalles").style.display = "none";
        $('.js-example-basic-single').select2({ theme: 'bootstrap-5' });
        $('#escanearProducto').on('hidden.bs.modal', async function () {
            document.getElementById("default").style.display = "block";
            document.getElementById("detalles").style.display = "none";
            await sendData("n");
            await sendData("n");
        });
        $('#detalleProducto').on('shown.bs.modal', async function () {
            await sendData("l");
            await sendData("l");
        });
    });
    document.getElementById('kardexForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        var cantidad = parseInt($('#cantidad').val());
        var cantidades = parseInt($('#cantidades').val());;

        var valorSeleccionado = $('#tipo_movimiento').val();
        const formData = new FormData(event.target);
        formData.append('id_producto', producto.id_producto);
        if (valorSeleccionado == '1') {
            const response = await fetch('kardex_entrada', {
                method: 'POST',
                body: formData
            });
            const data = await response.json();
            if (data.message) {
                Swal.fire({
                    toast: true,
                    position: 'bottom-end',
                    icon: 'success',
                    title: data.message,
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000
                });
                $("#kardexForm")[0].reset();
                document.getElementById("default").style.display = "block";
                document.getElementById("detalles").style.display = "none";
            } else if (data.error) {
                Swal.fire({
                    toast: true,
                    position: 'bottom-end',
                    icon: 'error',
                    title: data.error,
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000
                });
            }
        } else if (valorSeleccionado == '2') {
            console.log(cantidad, cantidades);
            if (cantidad <= cantidades && cantidad != 0) {
                const response = await fetch('kardex_salida', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json();
                if (data.message) {
                    Swal.fire({
                        toast: true,
                        position: 'bottom-end',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 3000
                    });
                    $("#kardexForm")[0].reset();
                    document.getElementById("default").style.display = "block";
                    document.getElementById("detalles").style.display = "none";
                } else {
                    Swal.fire({
                        toast: true,
                        position: 'bottom-end',
                        icon: 'error',
                        title: 'Error: ' + data.error,
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 3000
                    });
                }
            } else {
                Swal.fire({
                    toast: true,
                    position: 'bottom-end',
                    icon: 'error',
                    text: 'Cantidad no disponible',
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000
                });
            }
        }
    });
    $('#tipo_movimiento').on('change', function () {
        var valorSeleccionado = $(this).val();
        if (valorSeleccionado == '1') {
            $('#detalle').val('Entrada de producto');
            $('#precio').removeAttr('readonly');
        } else if (valorSeleccionado == '2') {
            $('#detalle').val('Salida de producto');
            $('#precio').prop('readonly', true);
        }
    });
    let port;
    let reader = null;
    let writer = null;
    async function requestSerialPermission() {
        try {
            port = await navigator.serial.requestPort();
            await port.open({ baudRate: 9600 });
            if (port.getInfo().usbVendorId != 9025) {
                await port.close();
                Swal.fire({
                    toast: true,
                    position: 'bottom-end',
                    icon: 'error',
                    text: "Dispositivo no reconocido",
                    showConfirmButton: false,
                    timerProgressBar: false,
                    timer: 2000
                });
                return;
            }
            reader = await port.readable.getReader();
            writer = port.writable.getWriter();
            port.addEventListener('disconnect', async (event) => {
                document.getElementById("connected").style.display = "none";
                document.getElementById("disconnected").style.display = "block";
                $('.modal').modal('hide');
                Swal.fire({
                    toast: true,
                    position: 'bottom-end',
                    icon: 'error',
                    text: "Dispositivo desconectado",
                    showConfirmButton: false,
                    timerProgressBar: false,
                    timer: 1000
                })
            });

            setTimeout(function () {
                document.getElementById("connected").style.display = "block";
                document.getElementById("disconnected").style.display = "none";
            }, 2000);

            Swal.fire({
                toast: true,
                position: 'bottom-end',
                icon: 'success',
                text: "Conectado exitosamente",
                showConfirmButton: false,
                timerProgressBar: false,
                timer: 2000
            });
        } catch (error) {
            Swal.fire({
                toast: true,
                position: 'bottom-end',
                icon: 'error',
                text: "Error: " + error.message,
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 2000
            });
        }
    }

    async function asignarProducto() {
        $('#escanearProducto').modal('show');
        await sendData("e");
        await sendData("e");
        let message = "";
        try {
            await reader.cancel();
            reader.releaseLock();
            reader = await port.readable.getReader();
            while (true) {
                const { value, done } = await reader.read();
                if (done) {
                    break;
                }
                const textDecoder = new TextDecoder();
                const receivedData = textDecoder.decode(value);
                message += receivedData;
                if (receivedData.includes("\n")) {
                    console.log(message);
                    if (message.includes("#")) {
                        await sendData($("#productos").val() + "#");
                    } else if (message.includes("Error")) {
                        Swal.fire({
                            toast: true,
                            position: 'bottom-end',
                            icon: 'error',
                            title: message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                        asignarProducto();
                        return;
                    } else if (message.includes("exitosa")) {
                        fetch('/buscarproductotag', {
                            method: 'POST',
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({ tag: $("#productos").val() }),
                        }).then(response => response.json()).then(async data => {
                            Swal.fire({
                                toast: true,
                                position: 'bottom-end',
                                icon: 'success',
                                title: '¡Asignado correctamente!',
                                showConfirmButton: false,
                                timer: 1200
                            }).then(async (result) => {
                                await sendData("e");
                            });
                        });
                    }
                    message = "";
                }
            }
        } catch (error) {
            console.error('Error al leer desde el puerto serie:', error);
        }
    }

    function calculartotal() {
        var cantidad = $('#cantidad').val();
        var precio = $('#precio').val();
        $('#total').val(parseFloat(cantidad * precio).toFixed(2));
    }
    async function escanearProducto() {
        $('#escanearProducto').modal('show');
        let message = "";
        await sendData("l");
        await sendData("l");
        try {
            await reader.cancel();
            reader.releaseLock();
            reader = await port.readable.getReader();
            while (true) {
                const { value, done } = await reader.read();
                if (done) {
                    break;
                }
                const textDecoder = new TextDecoder();
                const receivedData = textDecoder.decode(value);
                message += receivedData;
                if (receivedData.includes("\n")) {
                    console.log(message);
                    if (message.includes("Error")) {
                        Swal.fire({
                            toast: true,
                            position: 'bottom-end',
                            icon: 'error',
                            title: message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                        escanearProducto();
                        return;
                    }
                    fetch('/buscarproductotag', {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ tag: message.trim().replace('l', '') }),
                    }).then(response => response.json()).then(async data => {
                        if (data.message) {
                            Swal.fire({
                                toast: true,
                                position: 'bottom-end',
                                icon: 'error',
                                text: data.message,
                                showConfirmButton: false,
                                timerProgressBar: true,
                                timer: 3000
                            });
                        } else if (data.codigo) {
                            Swal.fire({
                                toast: true,
                                position: 'bottom-end',
                                icon: 'success',
                                title: "Producto escaneado exitosamente <b></b>",
                                showConfirmButton: false,
                                timerProgressBar: false,
                                timer: 2000,
                            });
                            $('#nombres').val(data.nombre);
                            $('#categorias').val(data.categoria);
                            $('#cantidades').val(data.cantidad);
                            $('#precios').val(data.precio);
                            $('#precio').val(data.precio);
                            $('#img').attr('src', data.img);
                            producto = data;
                            document.getElementById("default").style.display = "none";
                            document.getElementById("detalles").style.display = "block";
                        }
                    });
                    message = "";
                }
            }
        } catch (error) {
            console.error('Error al leer desde el puerto serie:', error);
        }
    }

    async function sendData(data) {
        try {
            let encoder = new TextEncoder();
            const encodedData = encoder.encode(data);
            await writer.write(encodedData);
        } catch (error) {
            console.error('Error al enviar datos al puerto serie:', error);
            await writer.releaseLock();
        }
    }
</script>

</html>