<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inventario</title>
</head>

<body>
    <%- include("partials/_headerpanel") %>
        <%- include("partials/_sidebarpanel") %>
            <main id="main" class="main">

                <div class="pagetitle">
                    <h1>Inventario</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
                            <li class="breadcrumb-item">Productos</li>
                            <li class="breadcrumb-item active">Inventario</li>
                        </ol>
                    </nav>
                </div>

                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-primary" type="button" onclick="nuevo(this)"><i
                                                class="bi bi-plus"></i>Añadir Producto</button>
                                    </div>
                                </div>
                                <div class="card-header">
                                    <div class="input-group mb-3">
                                        <form class="form-floating">
                                            <input type="text" class="form-control" id="search" placeholder="Buscar"
                                                value="">
                                            <label for="search">Buscar</label>
                                        </form>
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="bi bi-search"></i></span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="container-fluid mt-2">
                                        <table class="table table-sm table-hover text-center fl-table tablesort w-100"
                                            id="datatable">
                                            <thead>
                                                <tr>
                                                    <th>Imagen</th>
                                                    <th>Código</th>
                                                    <th>Nombre</th>
                                                    <th>Categoría</th>
                                                    <th>Tag</th>
                                                    <th>Medidas</th>
                                                    <th>Descuento</th>
                                                    <th>Precio</th>
                                                    <th>Precio desc</th>
                                                    <th>Cantidad</th>
                                                    <th>Total</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </main>

            <div class="modal fade" id="producto" tabindex="-1" aria-labelledby="productoLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="titulo"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formulario">
                                <div class="card mb-3 border-0">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="img/no-image-icon.png" id="img" width="200">
                                            <div class="mb-3">
                                                <input class="form-control form-control-sm" id="image" type="file"
                                                    accept="image/*">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12 text-start">
                                                        <label for="codigo" class="form-label">Código</label>
                                                        <input type="text" class="form-control" id="codigo"
                                                            placeholder="Ingrese un código" value="" name="codigo"
                                                            required>
                                                    </div>
                                                    <div class=" col-12 text-start">
                                                        <label for="nombre" class="form-label">Nombre</label>
                                                        <input type="text" class="form-control" id="nombre"
                                                            placeholder="Ingrese un nombre de producto" value=""
                                                            name="nombre" required>
                                                    </div>
                                                    <div class=" col-12 text-start">
                                                        <label for="nombre" class="form-label">Medidas</label>
                                                        <div class="container-fluid mb-2">
                                                            <input type="checkbox" class="btn-check" id="1l"
                                                                autocomplete="off" name="1l" value="1L">
                                                            <label class="btn btn-outline-primary btn-sm mb-1"
                                                                for="1l">1L</label>
                                                            <input type="checkbox" class="btn-check" id="5l"
                                                                autocomplete="off" name="5l" value="5L">
                                                            <label class="btn btn-outline-primary btn-sm mb-1"
                                                                for="5l">5L</label>
                                                            <input type="checkbox" class="btn-check" id="20l"
                                                                autocomplete="off" name="20l" value="20L">
                                                            <label class="btn btn-outline-primary btn-sm mb-1"
                                                                for="20l">20L</label>
                                                            <input type="checkbox" class="btn-check" id="1kg"
                                                                autocomplete="off" name="1kg" value="1Kg">
                                                            <label class="btn btn-outline-primary btn-sm mb-1"
                                                                for="1kg">1Kg</label>
                                                            <input type="checkbox" class="btn-check" id="5kg"
                                                                autocomplete="off" name="5kg" value="5Kg">
                                                            <label class="btn btn-outline-primary btn-sm mb-1"
                                                                for="5kg">5Kg</label>
                                                            <input type="checkbox" class="btn-check" id="25kg"
                                                                autocomplete="off" name="25kg" value="25Kg">
                                                            <label class="btn btn-outline-primary btn-sm mb-1"
                                                                for="25kg">25Kg</label>
                                                            <input type="hidden" name="medidas" id="medidas" value="">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="categoria" class="form-label">Categoria</label>
                                                        <div class="form-floating">
                                                            <select name="categoria" class="form-select"
                                                                id="editcategoria">
                                                                <% if (categorias) { %>
                                                                    <% categorias.forEach(row=> { %><option
                                                                            value="<%= row.id_categoria %>" }>
                                                                            <%= row.categoria %>
                                                                        </option>
                                                                        <% }); %>
                                                                            <% } %>
                                                            </select>
                                                            <label for="floatingSelect">Selecione una
                                                                categoría</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="floatingTextarea2"
                                                            class="form-label">Descripción</label>
                                                        <textarea id="descripcion" class="form-control"
                                                            placeholder="Descripción" name="descripcion"
                                                            style="max-height: 150px;min-height: 150px;"></textarea>
                                                    </div>
                                                    <div class=" col-md-4 text-start">
                                                        <label for="cantidad" class="form-label">Cantidad</label>
                                                        <input type="number" class="form-control" name="cantidad"
                                                            id="cantidad" placeholder="Ingrese una cantidad" value=""
                                                            onkeyup="changeinput(this)" required>
                                                    </div>
                                                    <div class="col-md-4 text-start">
                                                        <label for="descuento" class="form-label">Descuento</label>
                                                        <div class="input-group mb-3">
                                                            <input type="number" class="form-control" name="descuento"
                                                                id="descuento" placeholder="Ingrese un descuento"
                                                                max="100" value="" onkeyup="changeinput(this)">
                                                            <span class="input-group-text">%</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 text-start">
                                                        <label for="precio" class="form-label">Precio</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" name="precio"
                                                                id="precio" placeholder="Precio" value=""
                                                                onkeyup="changeinput(this)">
                                                            <span class="input-group-text">$</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 text-start">
                                                        <label for="preciodesc" class="form-label">Precio
                                                            Desc</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control disabled"
                                                                name="preciodesc" id="preciodesc" value="" readonly>
                                                            <span class="input-group-text">$</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 text-start">
                                                        <label for="total" class="form-label">Total</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control disabled"
                                                                name="total" id="total" value="" readonly><span
                                                                class="input-group-text">$</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar producto</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">¿Estás seguro de que deseas eiminar este producto?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a class="btn btn-danger" href="">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("partials/_fotterpanel") %>
                <script>
                    var id;
                    var op;
                    $(document).ready(function () {
                        $('input[name="1l"], input[name="5l"], input[name="20l"]').change(function () {
                            var litrosSelected = $('input[name="1l"]:checked, input[name="5l"]:checked, input[name="20l"]:checked');

                            if (litrosSelected.length > 0) {
                                $('input[name="1kg"], input[name="5kg"], input[name="25kg"]').prop('disabled', true);
                            } else {
                                $('input[name="1kg"], input[name="5kg"], input[name="25kg"]').prop('disabled', false);
                            }
                        });

                        $('input[name="1kg"], input[name="5kg"], input[name="25kg"]').change(function () {
                            var kgSelected = $('input[name="1kg"]:checked, input[name="5kg"]:checked, input[name="25kg"]:checked');

                            if (kgSelected.length > 0) {
                                $('input[name="1l"], input[name="5l"], input[name="20l"]').prop('disabled', true);
                            } else {
                                $('input[name="1l"], input[name="5l"], input[name="20l"]').prop('disabled', false);
                            }
                        });
                        $('input[name="1l"], input[name="5l"], input[name="20l"]').change(function () {
                            var medidasSeleccionadas = [];
                            $('input[name="1l"]:checked, input[name="5l"]:checked, input[name="20l"]:checked').each(function () {
                                medidasSeleccionadas.push($(this).val());
                            });
                            $('#medidas').val(medidasSeleccionadas.join('/'));
                        });
                        $('input[name="1kg"], input[name="5kg"], input[name="25kg"]').change(function () {
                            var medidasSeleccionadas = [];
                            $('input[name="1kg"]:checked, input[name="5kg"]:checked, input[name="25kg"]:checked').each(function () {
                                medidasSeleccionadas.push($(this).val());
                            });
                            $('#medidas').val(medidasSeleccionadas.join('/'));
                        });
                        var table = $('#datatable').DataTable({
                            ajax: {
                                url: "/obtener_inventario",
                                "type": "POST",
                                "dataSrc": "data",
                            },
                            bLengthChange: false,
                            info: true,
                            paging: true, columns: [
                                { data: "img" },
                                { data: "codigo", defaultContent: "-" },
                                { data: "nombre", defaultContent: "-" },
                                { data: "categoria", defaultContent: "-" },
                                { data: "tag", defaultContent: "-" },
                                { data: "medidas", defaultContent: "-" },
                                { data: "descuento", defaultContent: "-" },
                                { data: "precio", defaultContent: "-" },
                                { data: "preciodesc", defaultContent: "-" },
                                { data: "cantidad", defaultContent: "-" },
                                { data: "total", defaultContent: "-" }
                            ],
                            columnDefs: [
                                {
                                    targets: "_all",
                                    className: "dt-center",
                                },
                                {
                                    targets: 0,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        imageHTML = `<img src="${data.img ?? 'img/no-image-icon.png'}"  style=" width: 50px; height: 50px; object-fit: contain; object-position: bottom;">`;
                                        return imageHTML;
                                    }
                                },
                                {
                                    targets: 4,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        if (data.tag) {
                                            return `<span class="badge rounded-pill text-bg-primary text-light">#${data.tag}</span>`;
                                        } else {
                                            return `<span class="badge rounded-pill text-bg-warning text-light">Asignar</span>`;
                                        }
                                    }
                                },
                                {
                                    targets: 6,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        return data.descuento + "%";
                                    }
                                },
                                {
                                    targets: 7,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        return "$" + data.precio;
                                    }
                                },
                                {
                                    targets: 8,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        return "$" + data.preciodesc;
                                    }
                                },
                                {
                                    targets: 10,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        return "$" + data.total;
                                    }
                                },
                                {
                                    targets: 11,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        var dataAsString = JSON.stringify(data);
                                        return `<div class="d-flex flex-row mb-3"><button type="button" class="btn btn-primary btn-sm m-1" data-id="${data.id_producto}" data-img="${data.img ?? 'img/no-image-icon.png'}" data-codigo="${data.codigo}" data-nombre="${data.nombre}" data-tag="${data.tag}" data-tag="${data.tag}" data-descripcion="${data.descripcion}" data-cantidad="${data.cantidad}" data-descuento="${data.descuento}" data-precio="${data.precio}" data-preciodesc="${data.preciodesc}" data-total="${data.total}" onclick="edit(this)" title="Editar"><i class="bi bi-pencil-square"></i></i></button><button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Eliminar"><i class="bi bi-trash"></i></button></div>`;
                                    }
                                }
                            ],
                            "language": {
                                "sEmptyTable": "No hay datos disponibles en la tabla",
                                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                                "sInfoEmpty": "Mostrando 0 a 0 de 0 entradas",
                                "sInfoFiltered": "(Filtrado de _MAX_ entradas totales)",
                                "sInfoPostFix": "",
                                "sInfoThousands": ",",
                                "sLengthMenu": "Mostrar _MENU_ entradas",
                                "sLoadingRecords": "Cargando...",
                                "sProcessing": "Procesando...",
                                "sSearch": "Buscar:",
                                "sZeroRecords": "No se encontraron resultados",
                                "oPaginate": {
                                    "sFirst": "Primero",
                                    "sLast": "Último",
                                    "sNext": "Siguiente",
                                    "sPrevious": "Anterior"
                                },
                                "oAria": {
                                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                },
                                "buttons": {
                                    "copy": "Copiar",
                                    "colvis": "Visibilidad"
                                }
                            }
                        });
                        $("#datatable_filter").hide();
                        $('#search').keyup(function () {
                            table = $('.tablesort').DataTable();
                            table.search($(this).val()).draw();
                        });
                        $('#actualizar').click(async function () {
                            await table.ajax.reload()
                        });
                    });
                    function edit(button) {
                        op = "update_producto";
                        id = button.getAttribute('data-id')
                        var img = button.getAttribute('data-img');
                        var codigo = button.getAttribute('data-codigo');
                        var nombre = button.getAttribute('data-nombre');
                        var descripcion = button.getAttribute('data-descripcion');
                        var cantidad = button.getAttribute('data-cantidad');
                        var descuento = button.getAttribute('data-descuento');
                        var precio = button.getAttribute('data-precio');
                        var preciodesc = button.getAttribute('data-preciodesc');
                        var total = button.getAttribute('data-total');
                        $("#titulo").text("Editar Producto");
                        $("#formulario")[0].reset();
                        $('#img').attr('src', img);
                        $("#codigo").val(codigo);
                        $("#nombre").val(nombre);
                        $("#descripcion").val(descripcion);
                        $("#cantidad").val(cantidad);
                        $("#descuento").val(descuento);
                        $("#precio").val(precio);
                        $("#preciodesc").val(preciodesc);
                        $("#total").val(total);
                        $('#producto').modal('show');
                    }
                    function nuevo(button) {
                        op = "insert_producto";
                        $("#titulo").text("Nuevo Producto");
                        $("#formulario")[0].reset();
                        $('#producto').modal('show');
                    }
                    function calculardesc() {
                        var desc = $('#descuento').val();
                        var precio = $('#precio').val();
                        $('#preciodesc').val(parseFloat(precio - (precio * (desc / 100))).toFixed(2));
                    }

                    function calculartotal() {
                        var cantidad = $('#cantidad').val();
                        var precio = $('#precio').val();
                        $('#total').val(parseFloat(cantidad * precio).toFixed(2));
                    }
                    function limit(input) {
                        if (input.id === "descuento") {
                            input.value = input.value.replace(/^0+/, '');
                            if (input.value === '') {
                                input.value = 0;
                            }
                            if (input.value > 100) {
                                input.value = 100;
                            }
                        } else if (input.id === "cantidad") {
                            input.value = input.value.replace(/^0+/, '');
                            if (input.value === '') {
                                input.value = 0;
                            }
                        }
                    }
                    document.getElementById('image').addEventListener('change', function (event) {
                        var output = document.getElementById('img');
                        const fileInput = document.getElementById('image');
                        output.src = URL.createObjectURL(fileInput.files[0]);
                        output.onload = function () {
                            URL.revokeObjectURL(output.src);
                        }
                    });
                    document.getElementById('formulario').addEventListener('submit', function (event) {
                        event.preventDefault();
                        const fileInput = document.getElementById('image');
                        const file = fileInput.files[0];
                        if (file) {
                            const reader = new FileReader();
                            reader.onloadend = function () {
                                const base64Image = reader.result;
                                const formData = new FormData(event.target);
                                formData.append('img', base64Image);
                                formData.append('idproducto', id);
                                fetch(op, {
                                    method: 'POST',
                                    body: formData
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.message === "Success") {
                                            alert("¡Producto actualizado correctamente!");
                                        } else {
                                            alert("¡Error al guardar producto!");
                                        }
                                    })
                                    .catch(error => {
                                        console.error(error);
                                    });
                            };
                            reader.readAsDataURL(file);
                        } else {
                            const formData = new FormData(event.target);
                            formData.append('idproducto', id);
                            fetch(op, {
                                method: 'POST',
                                body: formData
                            })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.message === "Success") {
                                        alert("¡Producto actualizado correctamente!");
                                    } else {
                                        alert("¡Error al guardar producto!");
                                    }
                                })
                                .catch(error => {
                                    console.error(error);
                                });
                        }
                    });
                    function changeinput(input) {
                        limit(input);
                        calculardesc();
                        calculartotal();
                    }
                </script>

</body>

</html>