<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inventario</title>
</head>

<body>
    <%- include("partials/_headerpanel") %>
        <%- include("partials/_sidebarpanel") %>
            <main id="main" class="main">

                <div class="pagetitle">
                    <h1>Inventario</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
                            <li class="breadcrumb-item">Productos</li>
                            <li class="breadcrumb-item active">Inventario</li>
                        </ol>
                    </nav>
                </div>

                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="input-group mb-3">
                                        <form class="form-floating">
                                            <input type="text" class="form-control" id="search" placeholder="Buscar"
                                                value="">
                                            <label for="search">Buscar</label>
                                        </form>
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="bi bi-search"></i></span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="container-fluid mt-2">
                                        <table class="table table-sm table-hover text-center fl-table tablesort w-100"
                                            id="datatable">
                                            <thead>
                                                <tr>
                                                    <th>Imagen</th>
                                                    <th>Código</th>
                                                    <th>Nombre</th>
                                                    <th>Categoría</th>
                                                    <th>Tag</th>
                                                    <th>Medidas</th>
                                                    <th>Descuento</th>
                                                    <th>Precio</th>
                                                    <th>Precio desc</th>
                                                    <th>Cantidad</th>
                                                    <th>Total</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </main>

            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editModalLabel">Editar producto</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formulario">
                                <div class="card mb-3 border-0">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="" id="editimg" width="200">
                                            <div class="mb-3">
                                                <input class="form-control form-control-sm" id="image" type="file"
                                                    accept="image/*">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <div class="row g-3">
                                                    <div class="col-12 text-start">
                                                        <label for="editcodigo" class="form-label">Código</label>
                                                        <input type="text" class="form-control" id="editcodigo"
                                                            placeholder="Ingrese un código" value="" name="codigo"
                                                            required>
                                                    </div>
                                                    <div class=" col-12 text-start">
                                                        <label for="editnombre" class="form-label">Nombre</label>
                                                        <input type="text" class="form-control" id="editnombre"
                                                            placeholder="Ingrese un nombre de producto" value=""
                                                            name="nombre" required>
                                                    </div>
                                                    <div class=" col-12">
                                                        <label for="edittag" class="form-label">Tag</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" id="edittag"
                                                                placeholder="Ingrese un tag" value="" name="tag">
                                                            <span class="input-group-text">#</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="editcategoria" class="form-label">Categoria</label>
                                                        <div class="form-floating">
                                                            <select name="categoria" class="form-select"
                                                                id="editcategoria">
                                                                <% if (categorias) { %>
                                                                    <% categorias.forEach(row=> { %><option
                                                                            value="<%= row.id_categoria %>" }>
                                                                            <%= row.categoria %>
                                                                        </option>
                                                                        <% }); %>
                                                                            <% } %>
                                                            </select>
                                                            <label for="floatingSelect">Selecione una categoría</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="floatingTextarea2"
                                                            class="form-label">Descripción</label>
                                                        <textarea id="editdescripcion" class="form-control"
                                                            placeholder="Descripción" name="descripcion"
                                                            style="max-height: 150px;min-height: 150px;"></textarea>
                                                    </div>
                                                    <div class="alert alert-danger alert-dismissible fade show text-start"
                                                        role="alert">
                                                        <h4 class="alert-heading">¡Atención!</h4>
                                                        <p>No se recomienda alterar los siguientes campos al menos que
                                                            sea necesario</p>
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class=" col-md-4 text-start">
                                                        <label for="cantidad" class="form-label">Cantidad</label>
                                                        <input type="number" class="form-control" name="cantidad"
                                                            id="cantidad" placeholder="Ingrese una cantidad" value=""
                                                            onkeyup="changeinput(this)" required>
                                                    </div>
                                                    <div class="col-md-4 text-start">
                                                        <label for="descuento" class="form-label">Descuento</label>
                                                        <div class="input-group mb-3">
                                                            <input type="number" class="form-control" name="descuento"
                                                                id="descuento" placeholder="Ingrese un descuento"
                                                                max="100" value="" onkeyup="changeinput(this)">
                                                            <span class="input-group-text">%</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 text-start">
                                                        <label for="precio" class="form-label">Precio</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" name="precio"
                                                                id="precio" placeholder="Precio" value=""
                                                                onkeyup="changeinput(this)">
                                                            <span class="input-group-text">$</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 text-start">
                                                        <label for="preciodesc" class="form-label">Precio Desc</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control disabled"
                                                                name="preciodesc" id="preciodesc" value="" readonly>
                                                            <span class="input-group-text">$</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 text-start">
                                                        <label for="total" class="form-label">Total</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control disabled"
                                                                name="total" id="total" value="" readonly><span
                                                                class="input-group-text">$</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar producto</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">¿Estás seguro de que deseas eiminar este producto?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a class="btn btn-danger" href="">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("partials/_fotterpanel") %>
                <script>
                    $(document).ready(function () {
                        var table = $('#datatable').DataTable({
                            ajax: {
                                url: "/obtener_inventario",
                                "type": "POST",
                                "dataSrc": "data",
                            },
                            bLengthChange: false,
                            info: true,
                            paging: true, columns: [
                                { data: "img" },
                                { data: "codigo", defaultContent: "-" },
                                { data: "nombre", defaultContent: "-" },
                                { data: "categoria", defaultContent: "-" },
                                { data: "tag", defaultContent: "-" },
                                { data: "medida", defaultContent: "-" },
                                { data: "descuento", defaultContent: "-" },
                                { data: "precio", defaultContent: "-" },
                                { data: "preciodesc", defaultContent: "-" },
                                { data: "cantidad", defaultContent: "-" },
                                { data: "total", defaultContent: "-" }
                            ],
                            columnDefs: [
                                {
                                    targets: "_all",
                                    className: "dt-center",
                                },
                                {
                                    targets: 0,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();

                                        imageHTML = `<img src="${data.img ?? 'img/no-image-icon.png'}" width="50">`;

                                        return imageHTML;
                                    }
                                },
                                {
                                    targets: 6,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        return data.descuento + "%";
                                    }
                                },
                                {
                                    targets: 7,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        return "$" + data.precio;
                                    }
                                },
                                {
                                    targets: 8,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        return "$" + data.preciodesc;
                                    }
                                },
                                {
                                    targets: 10,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        return "$" + data.total;
                                    }
                                },
                                {
                                    targets: 11,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        var dataAsString = JSON.stringify(data);
                                        return `<div class="d-flex flex-row mb-3"><button type="button" class="btn btn-primary btn-sm m-1" data-img="${data.img ?? 'img/no-image-icon.png'}" data-codigo="${data.codigo}" data-nombre="${data.nombre}" data-tag="${data.tag}" data-tag="${data.tag}" data-descripcion="${data.descripcion}" onclick="edit(this)" title="Editar"><i class="bi bi-pencil-square"></i></i></button><button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Eliminar"><i class="bi bi-trash"></i></button></div>`;
                                    }
                                }
                            ],
                            "language": {
                                "sEmptyTable": "No hay datos disponibles en la tabla",
                                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                                "sInfoEmpty": "Mostrando 0 a 0 de 0 entradas",
                                "sInfoFiltered": "(Filtrado de _MAX_ entradas totales)",
                                "sInfoPostFix": "",
                                "sInfoThousands": ",",
                                "sLengthMenu": "Mostrar _MENU_ entradas",
                                "sLoadingRecords": "Cargando...",
                                "sProcessing": "Procesando...",
                                "sSearch": "Buscar:",
                                "sZeroRecords": "No se encontraron resultados",
                                "oPaginate": {
                                    "sFirst": "Primero",
                                    "sLast": "Último",
                                    "sNext": "Siguiente",
                                    "sPrevious": "Anterior"
                                },
                                "oAria": {
                                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                },
                                "buttons": {
                                    "copy": "Copiar",
                                    "colvis": "Visibilidad"
                                }
                            }
                        });
                        $("#datatable_filter").hide();
                        $('.js-example-basic-single').select2();
                        $('#search').keyup(function () {
                            table = $('.tablesort').DataTable();
                            table.search($(this).val()).draw();
                        });
                        $('#actualizar').click(async function () {
                            await table.ajax.reload()
                        });
                    });
                    function edit(button) {
                        var img = button.getAttribute('data-img') ?? "img/image-not-found.png";
                        var codigo = button.getAttribute('data-codigo');
                        var nombre = button.getAttribute('data-nombre');
                        var descripcion = button.getAttribute('data-descripcion');
                        $('#editimg').attr('src', img);
                        $("#editcodigo").val(codigo);
                        $("#editnombre").val(nombre);
                        $("#editdescripcion").val(descripcion);
                        $('#editModal').modal('show');
                    }
                    function calculardesc() {
                        var desc = $('#descuento').val();
                        var precio = $('#precio').val();
                        $('#preciodesc').val(parseFloat(precio - (precio * (desc / 100))).toFixed(2));
                    }

                    function calculartotal() {
                        var cantidad = $('#cantidad').val();
                        var precio = $('#precio').val();
                        $('#total').val(parseFloat(cantidad * precio).toFixed(2));
                    }
                    function limit(input) {
                        if (input.id === "descuento") {
                            input.value = input.value.replace(/^0+/, '');
                            if (input.value === '') {
                                input.value = 0;
                            }
                            if (input.value > 100) {
                                input.value = 100;
                            }
                        } else if (input.id === "cantidad") {
                            input.value = input.value.replace(/^0+/, '');
                            if (input.value === '') {
                                input.value = 0;
                            }
                        }
                    }
                </script>

</body>

</html>