<!DOCTYPE html>
<html lang="en">

<head>
    <title>Consultagro S.A</title>
</head>

<body>
    <%- include("partials/_headerindex") %>
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="h2 pb-4"><i class="bi bi-ui-checks-grid"></i> Categorias</h2>
                    <div class="row">
                        <div class="dropdown dropend col-md-2">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Tipos
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item filter-button active" data-filter="all">Todos</button>
                                </li>
                                <li><button class="dropdown-item filter-button"
                                        data-filter="Nutriente">Nutrientes</button></li>
                                <li><button class="dropdown-item filter-button"
                                        data-filter="Fungicida">Fungicidas</button></li>
                            </ul>
                        </div>
                        <div class="dropdown dropend">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Medidas
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item filter-button2 active" data-filter="all">Todos</button>
                                </li>
                                <li><button class="dropdown-item filter-button2" data-filter="L">Litros</button></li>
                                <li><button class="dropdown-item filter-button2" data-filter="Kg">Kilogramos</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-inline shop-top-menu pb-3 pt-1">
                                <li class="list-inline-item">
                                    <a class="h3 text-dark text-decoration-none mr-3" href="#"
                                        style="color: #59ab6e !important;">Todos</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="h3 text-dark text-decoration-none mr-3" href="#">Más vendidos</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="h3 text-dark text-decoration-none" href="#">Ofertas</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 pb-4">
                            <div class="d-flex">
                                <div class="input-group mb-3">
                                    <input type="search" class="form-control" placeholder="Buscar" id="search">
                                    <span class="input-group-text" id="inputGroup-sizing-default">
                                        <i class="bi bi-search"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row content-elements" style="overflow-y: scroll;height: 800px;">
                        <% if (productos) { %>
                            <% productos.forEach(value=> { %>
                                <% const medidaRegex=/(\d+)/; %>
                                    <% const medida=value.medida.replace(medidaRegex, '' ); %>
                                        <div class="col-md-4 content filter <%= value.categoria %> <%= medida %>">
                                            <div class="card mb-4 product-wap rounded-3 shadow border-0">
                                                <div class="card rounded-3 border-0">
                                                    <img class="card-img rounded-3 img-fluid border-0"
                                                        data-src="<%= value.img? value.img : '/img/no-image-icon.png' %>"
                                                        style=" width: 100%;
                                            height: 300px;
                                            object-fit: contain;
                                            object-position: center;">
                                                    <div
                                                        class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                                        <ul class="list-unstyled">
                                                            <li><a class="btn btn-success text-white mt-2"
                                                                    href="/detalleproducto?producto=<%= value.id_producto %>"><i
                                                                        class="bi bi-eye-fill"></a></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <a class="h3 text-decoration-none" id="nombre">
                                                        <%= value.nombre %> <span class="badge"
                                                                style="background-color: #59ab6e;">
                                                                <%= value.categoria %>
                                                            </span>
                                                    </a>
                                                    <a class="h3 text-decoration-none d-flex text-center">
                                                        <p class="m-1 ms-0">Medida:</p>
                                                        <span class="badge m-1" style="background-color: #59ab6e;">
                                                            <%= value.medida??"Ninguna" %>
                                                        </span>
                                                    </a>
                                                    <p class="fw-bold mb-0">$<%= value.precio %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                            <% }; %>
                                                <div id="noResultsMessage" style="display: none;">No se han encontrado
                                                    resultados.
                                                </div>
                    </div>
                </div>
            </div>
            <nav>
                <ul class="pagination justify-content-center pagination-sm">
                </ul>
            </nav>
        </div>
        <%- include("partials/_fotterindex") %>
            <script>
                $('#search').on('input', filterRows);
                if ("IntersectionObserver" in window) {
                    const images = document.querySelectorAll("img");
                    let observer = new IntersectionObserver(
                        (entries, observer) => {
                            entries.forEach((entry) => {
                                if (!entry.isIntersecting) return;
                                const image = entry.target;
                                const newURL = image.getAttribute("data-src");
                                image.src = newURL;
                                observer.unobserve(image);
                            });
                        },
                        {
                            threshold: [0.2]
                        }
                    );

                    images.forEach((image) => {
                        observer.observe(image);
                    });
                }
                function filterRows() {
                    let query = $.trim($('#search').val().toUpperCase());
                    let found = false;
                    $('div.content').each(async function () {
                        let nombre = $(this).closest('.content').find('#nombre').text().trim().toUpperCase();
                        if (nombre.indexOf(query) !== -1) {
                            $(this).closest('div.content').fadeIn();
                            found = true;
                        } else {
                            $(this).closest('div.content').fadeOut();
                        }
                    });

                    if (!found) {
                        $('#noResultsMessage').fadeIn();
                    } else {
                        $('#noResultsMessage').fadeOut();
                    }
                }
                var value1 = "all";
                $(".filter-button").click(function () {
                    if ($(".filter-button").removeClass("active")) {
                        $(this).removeClass("active");
                    }
                    $(this).addClass("active");
                    let found = false;
                    value1 = $(this).attr('data-filter');
                    if (value1 == "all" && value2 === "all") {
                        $('.filter').fadeIn();
                    } else if (value1 === "all") {
                        $(".filter").not("." + value2).fadeOut();
                        $(".filter").filter("." + value2).fadeIn();
                    } else if (value2 === "all") {
                        $(".filter").not("." + value1).fadeOut();
                        $(".filter").filter("." + value1).fadeIn();
                    } else {
                        $(".filter").not("." + value1 + "." + value2).fadeOut();
                        $(".filter").filter("." + value1 + "." + value2).fadeIn();
                    }
                });
                var value2 = "all";
                $(".filter-button2").click(function () {
                    if ($(".filter-button2").removeClass("active")) {
                        $(this).removeClass("active");
                    }
                    $(this).addClass("active");
                    let found = false;
                    value2 = $(this).attr('data-filter');
                    if (value1 == "all" && value2 === "all") {
                        $('.filter').fadeIn();
                    } else if (value1 === "all") {
                        $(".filter").not("." + value2).fadeOut();
                        $(".filter").filter("." + value2).fadeIn();
                    } else if (value2 === "all") {
                        $(".filter").not("." + value1).fadeOut();
                        $(".filter").filter("." + value1).fadeIn();
                    } else {
                        $(".filter").not("." + value1 + "." + value2).fadeOut();
                        $(".filter").filter("." + value1 + "." + value2).fadeIn();
                    }
                });

            </script>
</body>

</html>