<!DOCTYPE html>
<html lang="en">
<style>
    html {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    label::after {
        background-color: transparent !important;
    }

    .content-elements::-webkit-scrollbar {
        width: 12px;
        border: #59ab6e;
    }

    .content-elements::-webkit-scrollbar-track {
        border: none;
        border-radius: 5px;
    }

    .content-elements::-webkit-scrollbar-thumb {
        background: #59ab6e;
        border-radius: 5px;
    }

    .content-elements::-webkit-scrollbar-thumb:hover {
        background: #336840;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.min.css">
    <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sweetalert2.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.5/datatables.min.js"></script>
</head>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light-subtle shadow">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo align-self-start text-uppercase" href="">
            <img data-src="/img/logo.png" src="/img/logo.png" width="50"> Consultagro S.A
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="bi bi-question-circle-fill"></i> Acerca de
                            nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tienda"><i class="bi bi-bag-fill"></i>
                            Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactanos"><i class="bi bi-telephone-fill"></i> Contactanos</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav">
                <% if (credentials) { %>
                    <li class="nav-item ">
                        <a href="" class="nav-link position-relative" data-bs-toggle="modal"
                            data-bs-target="#carrito-modal">
                            <i class="bi bi-cart-fill"></i> <span id="cantidad-carrito"
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a href="" class="nav-link dropdown-toggle" id="dropdown" data-bs-toggle="dropdown">
                                <i class="bi bi-person-circle"></i>
                                <%= credentials.nombre %>
                            </a>
                            <ul class="dropdown-menu text-small m-1 bg-body-tertiary" aria-labelledby="dropdown">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-gear"></i> Configuración</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-bag"></i> Mis pedidos
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-person"></i> Mi Perfil
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="" data-bs-toggle="modal"
                                        data-bs-target="#logoutModal"><i class="bi bi-box-arrow-right"></i> Cerrar
                                        sesión
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="modal" data-bs-target="#login"><i
                                    class="bi bi-person-fill"></i> Iniciar
                                sesión</>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-0 border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Iniciar Sesión</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Registrate</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab" tabindex="0">
                        <div class="card border-0">
                            <div class="card-body">
                                <form id="loginForm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="usuario" placeholder=" "
                                            name="usuario" required>
                                        <label style="color: #59ab6e;" for="usuario"><i class="bi bi-person"></i>
                                            Usuario</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" name="contrasena" class="form-control" id="password"
                                            placeholder=" " required>
                                        <label style="color: #59ab6e;" for="password"><i class="bi bi-key"></i>
                                            Contraseña</label>
                                    </div>

                                    <div class="form-check form-switch mb-3 ms-2">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckChecked" onchange="showpasswordLogin()">
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Mostrar
                                            contraseña</label>
                                    </div>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">¿Olvidaste tu
                                        contrasesa?</a>
                                    <div class="d-grid mx-auto mt-2"><button class="btn btn-primary"
                                            type="submit">Iniciar
                                            Sesión</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                        tabindex="0">
                        <form id="registrarForm" class="needs-validation" novalidate>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder=" "
                                    required>
                                <label style="color: #59ab6e;" for="nombre"><i class="bi bi-person"></i> Nombre <font
                                        class="text-danger">*</font></label>
                                <div class="invalid-feedback">Campo obligatorio</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="usuario-nuevo" placeholder=" "
                                    name="usuario" required>
                                <label style="color: #59ab6e;" for="usuario-nuevo"><i class="bi bi-person"></i>
                                    Usuario <font class="text-danger">*</font></label>
                                <div class="invalid-feedback">Campo obligatorio</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="identificacion" placeholder=" "
                                    name="identificacion" required>
                                <label style="color: #59ab6e;" for="identificacion"><i class="bi bi-person-vcard"></i>
                                    Cédula/RUC <font class="text-danger">*</font></label>
                                <div class="invalid-feedback">Campo obligatorio</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="telefono" placeholder=" " name="telefono"
                                    required>
                                <label style="color: #59ab6e;" for="telefono"><i class="bi bi-telephone"></i>
                                    Teléfono <font class="text-danger">*</font></label>
                                <div class="invalid-feedback">Campo obligatorio</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="correo" name="correo" placeholder=" "
                                    required>
                                <label style="color: #59ab6e;" for="correo"><i class="bi bi-envelope"></i> Correo <font
                                        class="text-danger">*</font></label>
                                <div class="invalid-feedback">Campo obligatorio</div>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="provincias" required>
                                    <option value="" selected disabled>Selecciona una opción</option>
                                </select>
                                <label style="color: #59ab6e;" for="provincias">Provincias <font class="text-danger">*
                                    </font></label>
                                <div class="invalid-feedback">Campo obligatorio</div>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="ciudades" name="ciudad" required>
                                    <option value="" selected disabled>Selecciona una opción</option>
                                </select>
                                <label style="color: #59ab6e;" for="ciudades">Ciudades <font class="text-danger">*
                                    </font></label>
                                <div class="invalid-feedback">Campo obligatorio</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="direccion" placeholder=" " name="direccion"
                                    required>
                                <label style="color: #59ab6e;" for="direccion"><i class="bi bi-signpost-2"></i>
                                    Dirección <font class="text-danger">*</font></label>
                                <div class="invalid-feedback">Campo obligatorio</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password-nuevo" placeholder=" "
                                    name="contrasena" required>
                                <label style="color: #59ab6e;" for="password-nuevo"><i class="bi bi-key"></i>
                                    Contraseña <font class="text-danger">*</font></label>
                                <div class="invalid-feedback">Campo obligatorio</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password-confirm" placeholder=" "
                                    required>
                                <label style="color: #59ab6e;" for="password-confirm"><i class="bi bi-key"></i> Repita
                                    su contraseña <font class="text-danger">*</font></label>
                                <div class="invalid-feedback">Campo obligatorio</div>
                            </div>
                            <div class="d-grid mx-auto">
                                <button class="btn btn-primary" type="submit">Registrarme</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cerrar sesión</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">¿Estás seguro de que deseas cerrar sesión?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="/logoutcliente">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="carrito-modal" tabindex="-1" aria-labelledby="carrito-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-sm-down modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carrito-modal-label">Mi carrito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-wrapper">
                    <table id="carrito-table" class="fl-table table table-sm table-hover text-center tablesort w-100">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 120px !important;"></th>
                                <th class="text-center" style="width: 120px !important;"></th>
                                <th class="text-center" style="width: 120px !important;">Imagen</th>
                                <th class="text-center" style="width: 120px !important;">Nombre</th>
                                <th class="text-center" style="width: 120px !important;">Precio</th>
                                <th class="text-center" style="max-width: 60px !important;">Cantidad</th>
                                <th class="text-center" style="width: 120px !important;">Total</th>
                                <th class="text-center" style="width: 20px !important;"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid text-start ps-5">
                    <h5>Subtotal: <span id="subtotal">$0</span></h5>
                    <h5>IVA: <span id="iva">$0</span></h5>
                    <h2 class="fw-bold">Total: <span id="total">$0</span></h2>
                    <div class="d-flex justify-content-start">
                        <button type="button" class="btn btn-danger me-2" onclick="vaciar_carrito()" id="vaciar"
                            disabled>
                            <i class="bi bi-trash-fill"></i>
                            Vaciar carrito
                        </button>
                        <button type="button" class="btn btn-primary" id="pedido" onclick="realizar_pedidos()" disabled>
                            <i class="bi bi-bag-fill"></i>
                            Realizar pedidos
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <form id="recuperarForm" class="needs-validation" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Recuperación de contraseña</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="correo" name="correo" placeholder=" " required>
                        <label style="color: #59ab6e;" for="correo"><i class="bi bi-envelope"></i> Correo <font
                                class="text-danger">*</font></label>
                        <div class="invalid-feedback">Campo obligatorio</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br><br>
<script>
    document.getElementById("recuperarForm").addEventListener('submit', async function (event) {
        event.preventDefault();
        var formData = new FormData(event.target);
        fetch('/recuperar', {
            method: 'POST',
            body: formData
        }).then(res => res.json())
            .then(element => {
                Swal.fire({
                    toast: true,
                    position: 'bottom-end',
                    icon: element.type,
                    text: element.message,
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000
                });

                if (element.type === "success") {
                    $("#recuperarForm")[0].reset()
                }
            });
    });
    async function obtener_cantidad_carrito() {
        await fetch("/obtener_cantidad_carrito", {
            method: "POST",
            body: JSON.stringify({ id_usuario: "<%= (credentials)?credentials.id_usuario:null %>" }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                if (data.data !== null) {
                    if (data.data[0].cantidad != 0) {
                        $("#cantidad-carrito").text(data.data[0].cantidad);
                    } else {
                        $("#cantidad-carrito").text("");
                    }
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    }
    var totalConIva = 0;
    var pedidos = [];

    const carrito = $('#carrito-table').dataTable({
        ajax: {
            url: "/obtener_carrito",
            type: "POST",
            data: {
                id_usuario: "<%= (credentials)?credentials.id_usuario:null %>",
            }
        },
        drawCallback: async function (settings, json) {
            $('#vaciar').prop('disabled', true);
            $('#pedido').prop('disabled', true);
            var iva = 0.12;
            var api = this.api();
            var totalGeneral = await api.column(6).data().reduce(function (a, b) {
                return a + b;
            }, 0);
            var montoIva = totalGeneral * iva;
            totalConIva = totalGeneral + montoIva;
            $("#subtotal").text("$" + totalGeneral.toFixed(2));
            $("#iva").text("$" + montoIva.toFixed(2));
            $("#total").text("$" + totalConIva.toFixed(2));
            if (totalConIva != 0) {
                $('#vaciar').prop('disabled', false);
                $('#pedido').prop('disabled', false);
            }
        },
        searching: false,
        bLengthChange: false,
        info: false,
        paging: false,
        columns: [
            { data: "id_carrito" },
            { data: "id_producto" },
            { data: "img" },
            { data: "nombre", defaultContent: "-" },
            { data: "precio", defaultContent: "-" },
            { data: "cantidad", defaultContent: "-" },
            { data: "total", defaultContent: "-" },
        ],
        columnDefs: [
            {
                targets: "_all",
                className: "text-center",
            },
            {
                targets: 0,
                visible: false,
            },
            {
                targets: 1,
                visible: false,
            },
            {
                targets: 2,
                render: function (data, type, row, meta) {
                    return `<img src="${row.img ?? '/img/no-image-icon.png'}" style=" width: 100%;height: 80px;object-fit: contain;object-position: center;">`;
                }
            },
            {
                targets: 3,
                render: function (data, type, row, meta) {
                    return `<a href="/detalleproducto?producto=${row.id_producto}">${row.nombre}</a>`;
                }
            },
            {
                targets: 4,
                render: function (data, type, row, meta) {
                    return `$${row.precio}`;
                }
            },
            {
                targets: 5,
                render: function (data, type, row, meta) {
                    pedidos = row;
                    return `
          <div class="quantity-control input-group" >
            <button class="btn btn-primary btn-sm" onclick="agregar_carrito(${row.id_producto},${row.precio}, -1)" ${row.cantidad === 1 ? "disabled" : ""}>-</button>
            <input type="number" class="input form-control text-center" value="${row.cantidad}"  min="1" readonly />
            <button class="btn btn-primary btn-sm" onclick="agregar_carrito(${row.id_producto},${row.precio}, 1)">+</button>
          </div>
        `;
                }
            },
            {
                targets: 6,
                render: function (data, type, row, meta) {
                    total += row.total;
                    return `$${row.total}`;
                }
            },
            {
                targets: 7,
                render: function (data, type, row, meta) {
                    return `<button class="btn btn-sm btn-danger" onclick="eliminar_carrito(${row.id_carrito})"><i class="bi bi-trash-fill"></i></button>`;
                }
            }
        ],
        "language": {
            "sEmptyTable": "No hay datos disponibles en la tabla",
            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
            "sInfoEmpty": "Mostrando 0 a 0 de 0 entradas",
            "sInfoFiltered": "(Filtrado de _MAX_ entradas totales)",
            "sInfoPostFix": "",
            "sInfoThousands": ",",
            "sLengthMenu": "Mostrar _MENU_ entradas",
            "sLoadingRecords": "Cargando...",
            "sProcessing": "Procesando...",
            "sSearch": "Buscar:",
            "sZeroRecords": "No se encontraron resultados",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        }
    });

    $(document).on('click', '.btn-minus', function () {
        var row = $(this).data('row');
        var inputElement = $(`.input[data-row="${row}"]`);
        var currentValue = parseInt(inputElement.val());
        if (currentValue > 1) {
            inputElement.val(currentValue - 1);
        }
    });

    $(document).on('click', '.btn-plus', function () {
        var row = $(this).data('row');
        var inputElement = $(`.input[data-row="${row}"]`);
        var currentValue = parseInt(inputElement.val());
        inputElement.val(currentValue + 1);
    });


    function eliminar_carrito(id_carrito) {
        fetch("delete_carrito", {
            method: 'POST',
            body: JSON.stringify({ id_carrito: id_carrito }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json()).then(async data => {
            $('#vaciar').prop('disabled', true);
            $('#pedido').prop('disabled', true);
            Swal.fire({
                toast: true,
                position: 'bottom-end',
                icon: data.type,
                title: data.message,
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 3000
            });
            await obtener_cantidad_carrito();
            carrito.api().ajax.reload();
        }).catch(error => {
            console.error(error);
        });
    }

    function vaciar_carrito() {
        fetch("vaciar_carrito", {
            method: 'POST',
            body: JSON.stringify({ id_usuario: "<%= (credentials)?credentials.id_usuario:null %>" }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json()).then(async data => {
            $("#cantidad-carrito").text("");
            $('#vaciar').prop('disabled', true);
            $('#pedido').prop('disabled', true);
            carrito.api().ajax.reload();
        }).catch(error => {
            console.error(error);
        });
    }
    function realizar_pedidos() {
        const rawData = carrito.api().rows().data().toArray();
        const filteredData = rawData.map((item) => {
            const newItem = { ...item };
            delete newItem.img;
            return newItem;
        });

        fetch("realizar_pedidos", {
            method: 'POST',
            body: JSON.stringify({ id_usuario: "<%= (credentials)?credentials.id_usuario:null %>", total: totalConIva, pedidos: filteredData }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json()).then(async data => {
            Swal.fire({
                toast: true,
                position: 'bottom-end',
                icon: data.type,
                title: data.message,
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 3000
            });
            await vaciar_carrito();
        }).catch(error => {
            console.error(error);
        });
    }
    function showpasswordLogin() {
        var icon = document.getElementById('icon-use');
        var password = document.getElementById("password");
        if (password.type === "password") {
            password.type = "text";
        } else {
            password.type = "password";
        }
    }
    var provinciasSelect = document.getElementById("provincias");


    fetch("/obtener_provincias", {
        method: "POST"
    })
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            if (data.data !== null) {
                data.data.forEach(function (provincia) {
                    var option = document.createElement("option");
                    option.value = provincia.id_provincia;
                    option.text = provincia.provincia;
                    provinciasSelect.appendChild(option);
                });
            }
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
    var ciudadesSelect = document.getElementById("ciudades");
    provinciasSelect.addEventListener("change", function () {
        var provinciaId = this.value;
        ciudadesSelect.innerHTML = "";
        fetch("/obtener_ciudades", {
            method: "POST",
            body: JSON.stringify({ provinciaId: provinciaId }),
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                if (data.data !== null) {
                    ciudadesSelect.innerHTML = "<option value='' selected disabled>Selecciona una opción</option>";
                    data.data.forEach(function (ciudad) {
                        var option = document.createElement("option");
                        option.value = ciudad.id_ciudad;
                        option.text = ciudad.ciudad;
                        ciudadesSelect.appendChild(option);
                    });
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
    document.getElementById("loginForm").addEventListener('submit', function (event) {
        event.preventDefault();
        var formData = new FormData(event.target);
        fetch('/validar_cliente', {
            method: 'POST',
            body: formData
        }).then(res => res.json())
            .then(element => {
                $('.modal').modal('hide');
                if (element.type === "warning") {
                    return Swal.fire({
                        icon: element.type,
                        title: 'Cuenta no validada',
                        text: "Su cuenta aún no ha sido validada. Si no ha recibido el correo de verificación, por favor haga clic en \"Reenviar correo\"",
                        showCancelButton: true,
                        confirmButtonText: 'Reenviar correo',
                        cancelButtonText: 'Cancelar',
                        confirmButtonColor: '#59ab6e',
                        showLoaderOnConfirm: true,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            fetch('/reenviar_correo', {
                                method: 'POST',
                                body: JSON.stringify({ correo: element.data.correo }),
                                headers: {
                                    "Content-Type": "application/json"
                                }
                            }).then(res => res.json())
                                .then(element => {
                                    Swal.fire({
                                        toast: true,
                                        position: 'bottom-end',
                                        icon: element.type,
                                        title: element.message,
                                        showConfirmButton: false,
                                        timerProgressBar: true,
                                        timer: 3000
                                    });
                                })
                        }
                    })
                } else if (element.type === "success") {
                    $('.modal').modal('hide');
                    location.reload();
                } else {
                    return Swal.fire({
                        toast: true,
                        position: 'bottom-end',
                        icon: element.type,
                        title: element.message,
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 3000
                    });
                }
            });
    });
    function validarContrasena(contrasena) {
        const regex = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[\W_]).{8,}$/;
        return regex.test(contrasena);
    }
    document.getElementById("registrarForm").addEventListener('submit', function (event) {
        event.preventDefault();
        if (document.getElementById('password-nuevo').value != document.getElementById('password-confirm').value) {
            Swal.fire({
                toast: true,
                position: 'bottom-end',
                icon: 'error',
                html: "Contraseñas no coinciden",
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 3000
            });
            return;
        } else if (!validarContrasena(document.getElementById('password-nuevo').value)) {
            Swal.fire({
                toast: true,
                position: 'bottom-end',
                icon: 'error',
                text: "La contraseña no es válida. Debe contener caracteres especiales, números y tener al menos 8 caracteres de longitud.",
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 3000
            });
            return;
        }
        var formData = new FormData(event.target);
        fetch('/registrar_cliente', {
            method: 'POST',
            body: formData
        }).then(res => res.json())
            .then(element => {
                console.log(element);
                Swal.fire({
                    toast: true,
                    position: 'bottom-end',
                    icon: element.type,
                    text: element.message,
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000
                });
                if (element.type === "success") {
                    $("#registrarForm")[0].reset()
                }
            })
    });

    obtener_cantidad_carrito();
    (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, true)
        })
    })()
</script>